.sidebar{
    box-shadow: 10px 10px 30px 10px hsla(210,7%,48%,.11);
    padding-left: 15px;
}
p{
    padding:10px 15px 5px 15px;
    margin:0px;

}
.css-1wvake5 {
    width:280px;
}
h1.h5.ps-4.py-3 {
    color:#9FA6B2;
}
.logo img{
    width:80px;
}
svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root {
    color: #374151;
}
span{
   color: #374151;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  main {
    text-align: center;
    vertical-align: center;
  
  }
  .css-8i0j0q{
    background-color: white !important;
  }
  li.ps-menuitem-root.css-1t8x7v1 {
    padding: 10px 0px;
}